*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    text-align: center;
}
.btn{
    width: 258px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    font-weight: normal;
    font-size: 29px;
    line-height: 34px;
    margin-left: 35px;
    margin-bottom: 60px;
}
.btns{
    display: flex;
    justify-content: center;

}
.content{
    margin: 0 auto;

}
img{
    max-width: 100%;
}

.img1{
    width: 644px;
    height: 366px;
}
.content-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.range{
    border: 5px solid #B0B0B0;
    width: 404px;
    margin-bottom: 60px;

}
.active{
    background-color: green;
}
